version: '3.8'
services:
  app:
    build: .
    image: ewelinkauto_app:latest
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    volumes:
      - ./:/usr/src/app
